@model MVC2.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
</div>
<!-- Single Page Header End -->
<div class="container-fluid py-5">
    
    <div class="container py-5">
       
        <form asp-action="Login" asp-controller="KhachHang" asp-route-ReturnUrl="@ViewBag.ReturnUrl">
            <div class="row justify-content-center g-5">
                <div class="col-md-12 col-lg-6 col-xl-7 ">
                    <h2>HÃY ĐĂNG NHẬP</h2>
                    <div class="row">
                        <div class="form-item w-100">
                            <label asp-for="@Model.username" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.username" type="text" class="form-control">
                            <span asp-validation-for="@Model.username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item w-100">
                            <label asp-for="@Model.password" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.password" class="form-control">
                            <span asp-validation-for="@Model.password" class="text-danger"></span>
                        </div>
                    </div>
                    @Html.ValidationMessage("user")
                    <div class="row  text-center pt-4">
                        <div class="col-md-6 ">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary ">ĐĂNG NHẬP</button>
        </form>
                            
        @if (!Context.User.Identity.IsAuthenticated && @ViewBag.tt==1)
        {
            <a asp-action="ThanhToan" asp-controller="Cart" asp-route-kh="0"><button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary mt-4">ĐẶT HÀNG KHÔNG CẦN ĐĂNG NHẬP</button></a>

        }
     </div>  
                    </div>
                </div>
            </div>
        
    </div>
</div>

