@model IEnumerable<MVC2.ViewModels.CartItem>

@{
    ViewData["Title"] = "Index";
}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="viewItemCart">
                    
                    <div asp-validation-summary="All" class="text-danger"></div>
                   
                </tbody>
            </table>
        </div>
        <div class="mt-5">
            
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Tổng cộng</h1>                      
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4"></h5>
                            <p id="result" class="mb-0 pe-4">@Model.Sum(p => p.ThanhTien)</p>
                        </div>                  
                        <a id="thanhtoan" asp-controller="Cart" asp-action="ThanhToan">
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Thanh Toán</button>
                        </a>                  
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Cart Page End -->
@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            getItemCart();
        });
        function getItemCart() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetItemCart", "Cart")",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (resquonse) {
                    if(typeof resquonse == 'object'){
                        $("#viewItemCart").html('');
                    }
                    else{
                        console.log(resquonse);
                        $("#viewItemCart").html(resquonse);
                        $("#result").html(@ViewData["thu"]);
                    }
                },
                error: function (req, status, error) {

                }
            });
        }
        function remove() {
            var idItem = parseInt($("#idItem").val())

            console.log(idItem);
            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart", "Cart")",
                data: { id: idItem, ajax: 0 },
                dataType: "text",
                success: function () {
                    getItemCart();
                },
                error: function (req, status, error) {

                }
            });
        }
        function minus(){
            var idItem = parseInt($("#idItem").val())
            
            console.log(idItem);
            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart", "Cart")",
                data: { id: idItem, ajax: 1},
                dataType: "text",
                success: function () {
                    getItemCart();
                },
                error: function (req, status, error) {

                }
            });
         }
        function plus() {
            var idItem = parseInt($("#idItem").val())
            console.log(idItem);
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToCart", "Cart")",
                data: { id: idItem, quantity: 1},
                dataType: "text",
                success: function () {
                    getItemCart();
                },
                error: function (req,status,error) {

                }
            });
        }
        
    </script>
}
